<section class="about-us">
  <div class="conteiner">
    <div class="about-inner">
      <div class="about-inner-text">
        <h1 class="about-text">Lorem ipsum dolor sit amet.</h1>
        <p class="about-subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, vel itaque? Laudantium, neque. Dolorem debitis inventore voluptas labore, exercitationem dolorum corrupti perspiciatis veniam eius, suscipit omnis necessitatibus magnam? Tempore, qui.</p>
        <div class="about-btn-box">
          <button class="about-btn1">Lorem.</button>
          <button class="about-btn2">Lorem, ipsum.</button>
        </div>
      </div>
    </div>
  </div>
</section>